@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: #222;
  /* only hides the scrollbar on the x-axis */
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  /* transition the transform property */
  transition: transform 0.5s linear;
  /* width,take up the whole viewport */
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  /* we want half circle on the edge of the page */
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #770045;
  height: 200px;
  width: 200px;
  /* We want this to be a circle,so */
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

/* When the container has show-nav applied to it,then we want to show the circle.Now we can see the close icon */
.container.show-nav .circle {
 /* rotate it -70degrees */
 transform:rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  /* both are in the exact same spot,so take out the border */
  border: 0;
  font-size: 24px;
  color: #fff;
}
/* 
to get rid of the circle button border when its in the focused state */
.circle button:focus {
  outline: none;
}

/* one has an id as open and one has an id of closed,so lets target the open  */
.circle button#open {
  left: 60%;
}

.circle button#close {
  left: 60%;
  /* we want to rotate this close button */
  transform: rotate(90deg);
  transform-origin: top left;
}

/* when the container div has show-nav,then we want to take the direct navigation,li after that and bring them into view  */

.container.show-nav + nav li {
  /* transform on all of those to 0 ,which brings them to the original place */
  transform: translateX(0);
  /* Comesin a little bit after the rotation */
  transition-delay: 0.3s;
}

nav {
  /* bcoz we want it to be fixed down to the bottom */
  position: fixed;
  /* from the bottom bring 40px ups */
  bottom: 40px;
  left: 0;
  /*on top do z index of 100*/
  z-index: 100;
}

nav ul {
  /* this will get rid of the bullet points for home,About,contact */
  list-style-type: none;
  padding-left: 30px;
}

/* style the list item */
nav ul li {
  text-transform: uppercase;
  color: wheat;
  /* this will seperate home,about and contact with each other */
  margin: 40px 0;
  /* This will comein as the page rotation happens.we want to briing it left */
  transform: translateX(-100%);
  /* we want that to comein smoothly */
  transition: transform 0.4s ease-in;
}

/* for icon */
nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

/* We want the Home,ABout and Contact to stick out little right, so to do that  */
/* + li means the direct li after that */
nav ul li + li {
  /* li after the initial(Home) li sticks out 15px */
  margin-left: 15px;
  transform: translateX(-150%);
}

/* We want the Contact li to sticke even more, */
nav ul li + li + li {
  /* li after the initial(Home) li sticks out 30px */
  margin-left: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%;
}

.content {
  /* even if u stretch the screen,it will have 1000px width max */
  max-width: 1000px;
  /* 50px top and bottom,auto left and right */
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

/* for paragraph */
content p {
  color: #333;
  line-height: 1.5;
}
